# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Mobile platform clutter
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
android/.gradle/
android/app/release/
android/captures/
android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Coverage
coverage/
